* {
  margin: 0px;
}

#main {
  margin-left: 270px;
}

.login-card {
  margin: auto;
  width: 35%;
  padding: 4rem 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.login-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-msfl-logo-orange {
  height: 100vh;
  background-color: #f47921;
  padding-top: 10vh;
}

.login-card form img {
  margin-bottom: 5vh;
}

.login-card form button {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f47921;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  color: white;
  text-align: center;
}

.logo-circular-image {
  width: 50%;
  margin: auto;
  padding: 30px 5px;
  background-color: #efa876;
  border-radius: 50%;
}

.logo-circular-image img {
  width: 100%;
  margin: auto;
  text-align: center;
}

.sidenav a:hover {
  color: #bbb;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.qrr {
  width: 35%;
  margin: auto;
  text-align: center;
}

.ticketContainer {
  /* border: 1px solid red; */
  padding: 20px;
}

.ticket {
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 20px 60px;
}

.ticket-icon,
.ticket-icon-closed {
  background-color: #28a745;
  width: 80%;
  text-align: center;
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 4px;
  color: white;
}

.ticket-icon-closed {
  background-color: #dc3545;
}

.qr-border img {
  padding: 10px 25px;
  border: 2px dotted black;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 786px) {
  #main {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-left: 0px;
  }
  .login-card {
    margin: auto;
    width: 100%;
  }
  .bg-msfl-logo-orange {
    width: 100%;
    padding-top: 15vh;
  }
  .login-card img {
    width: 85%;
  }
  .sidenav {
    width: 0px;
  }
  .qrr {
    width: 95%;
  }
  .table-mobile {
    width: 95%;
    margin: auto;
    overflow-x: scroll;
  }
}

/* Extra */

@page {
  margin: 0;
}

.brdr {
  /* border: 1px solid blue; */
}
